:root {
  --ion-color-dark-shade: ;
}

:host {
}
.register-button {
  width: 100%;
  align-self: center;
}
ion-row {
  display: flex;
  ion-col {
    ion-button {
      display: flex;
    }
  }
}
ion-input {
  border: 1px solid var(--ion-color-dark-shade);
  &.has-error {
  }
}
