<app-header [breadCums]="'Register with email'" [isBackButtonEnabled]="'true'" [goTo]="goto" (backButtonPushed)="bakToLoginHome()"> </app-header>
<ion-content>
  <form padding [formGroup]="registerNewUserForm" (ngSubmit)="registerWithEmail()">
    <ion-list>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input id="email" formControlName="email" required></ion-input>
        <ion-text
          color="danger"
          *ngIf="registerNewUserForm.get('email').invalid && (registerNewUserForm.get('email').dirty || registerNewUserForm.get('email').touched)"
        >
          errorrrrr</ion-text
        >
      </ion-item>

      <ion-item>
        <ion-label>pwd</ion-label>
        <ion-input formControlName="pwd" required></ion-input>
        <ion-text
          color="danger"
          *ngIf="registerNewUserForm.get('pwd').invalid && (registerNewUserForm.get('pwd').dirty || registerNewUserForm.get('pwd').touched)"
        >
          errorrrrr</ion-text
        >
      </ion-item>

      <ion-item>
        <ion-button color="primary" type="submit" [disabled]="!registerNewUserForm.valid">Login</ion-button>
        <ion-button color="tertiary" (click)="bakToLoginHome()">Volver</ion-button>
      </ion-item>
      
    </ion-list>
  </form>
</ion-content>
<app-footer></app-footer>