<app-header [breadCums]="breadCums" [isBackButtonEnabled]="isBackButtonEnabled" [goto]="'home'" [isMenuButtonEnabled]="isMenuButtonEnabled">
</app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
<app-footer></app-footer>